<html>
    <head>
        <title>What the Dicken's!?</title>

        <!-- Need this line so app can use css file -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

        <!-- <link rel="stylesheet" href="./static/css/styles.css"> -->

        <div id="header">
            <h1>
                What the Dickens!?
            </h1>

        </div>
    </head>

    <body>
        <!-- Need this line so app can use css file -->
        <div id="quote">
            <h2>What the Dickens uses a Markov chain to analyze over 700K
            words of Charels Dickens to create sentences in the style of
            his writeing.</h2>

        </div>

    </body>

</html>
