<html>
    <head>
        <title>What the Dickens!?</title>
        
        <!-- Need this line so app can use css file -->
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='static/styles.css') }}"> -->

        <div id="header">
            <h1>
                What the Dickens!?
            </h1>

        </div>
    </head>

    <body
    {
            background-image: url("/static/css/dickens.jpg");
         }>

        <div id="quote">
            <h2>{{sentence}}</h2>

        </div>
    </body>
</html>
